<footer>
    <div class="social-media-container">
        <h2>Stay up to date on what we are doing!</h2>
        <ul>
            <li>
                <a
                    href="https://www.facebook.com/groups/190277791450732/"
                    target="blank"
                >
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
            </li>
            <li>
                <a
                    href="https://twitter.com/PizzaPokerGuy"
                    target="blank"
                >
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/dylan310/"
                    target="blank"
                >
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
            <li>
                <a
                    href="https://www.youtube.com/codingtutorials360"
                    target="blank"
                >
                    <fa-icon [icon]="faYoutube"></fa-icon>
                </a>
            </li>

        </ul>
    </div>
    <p class="copy-right">&copy;{{year}} - ATMovement Inc.</p>
</footer>
